{
    "presets": [
        "@babel/preset-react",
        [
            "@babel/preset-env",
            {
                "modules": false,
                "debug": false,
                "useBuiltIns": false,
                "targets": {
                    "browsers": [
                        "ios >= 10",
                        "last 2 version",
                        "ie > 10"
                    ]
                }
            }
        ]
    ],
    "plugins": [
        ["@babel/plugin-proposal-decorators", { "legacy": true, "loose": true }],
        ["@babel/plugin-proposal-class-properties", { "loose": true }],
        "@babel/plugin-proposal-object-rest-spread"
    ]
}
